.prize-background {
  min-height: 100vh;
  width: 100%;
  background-image: url('/assets/images/prize-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}